<html>
  <head>
    <title>Welcome to Terraform ansible lamp project</title>
  </head>
  <body>
    <h1>Hello from {{ ansible_all_ipv4_addresses }} This was created by terraform</h1>
    <p>Designed by Jerome Tabiri</p>
  </body>
</html>